// 样式调整

.ivu-menu-item-group-title {
  font-size: 12px !important;
  height: 30px !important;
  line-height: 30px !important;
  padding-left: 24px !important;
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu), .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title-active:not(.ivu-menu-submenu) {
  border-right-width: 5px;
}

.ivu-loading-bar {
  margin-top: 22px;
}

.layout-menu-left {
  background: #495060 !important;
  border-radius: 5px;
  //box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}