{
  "comments": false,
  "sourceMaps": true,
  "retainLines": true,
  "presets": ["env", "stage-0"],
  "env": {
    "main": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "16.13.0"
            }
          }
        ]
      ]
    },
    "renderer": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "electron": "13.6.2"
            }
          }
        ]
      ]
    }
  },
  "plugins": ["transform-runtime"]
}
