{
    "comments": false,
    "sourceMaps": true,
    "retainLines": true,
    "env": {
        "main": {
            "presets": [
                [
                    "env",
                    {
                        // "modules": false,
                        "targets": {
                            "Node": "12.4.0"
                        }
                    }
                ]
            ]
        },
        "renderer": {
            "presets": [
                [
                    "env",
                    {
                        "modules": false,
                        "targets": {
                            "Electron": "6.0.7"
                        }
                    }
                ]
            ]
        }
    },
    "plugins": [
        "transform-runtime",
        "transform-object-rest-spread"
    ]
}
