$primary: #2d8cf0;
$fontColor: #495060;

$bg-bucketpage: #f5f7f9;
$bg-header: #FFFFFF;
$bg-resource: #FFFFFF;

$bg-menu: #495060;
$color-menu: rgba(255, 255, 255, .7);

/*
$bg-menu: #FFFFFF;
$color-menu: #515a6e;*/

