$primary: #2d8cf0;

//$theme: 'dark';

$fontColor: #495060;
$bg-bucketpage: #f5f7f9;
$bg-header: #FFFFFF;
$bg-resource: #FFFFFF;
$bg-item-selected: #F5F5F5;
$menu-bg: #FFFFFF;
$menu-bg-selected: #f5f7f9;
$menu-color: #515a6e;
$bg-input: #FFFFFF;
$input-border-width: 1px;
$bg-card-hover: rgba(0, 0, 0, .01);
$bg-spin: rgba(255, 255, 255, 0.7);

@if ($theme=='dark') {
  $fontColor: rgba(255, 255, 255, .8);
  $bg-bucketpage: #323639;
  $bg-header: #202124;
  $bg-resource: #202124;
  $bg-item-selected: #2f3133;
  $menu-bg: #202124;
  $menu-bg-selected: #323639;
  $menu-color: rgba(255, 255, 255, .8);
  $bg-input: #3C4043;
  $input-border-width: 0px;
  $bg-card-hover: rgba(255, 255, 255, 0.01);
  $bg-spin: rgba(0, 0, 0, 0.7);
}