@import './params';

#app, .ivu-message-notice-content, .ivu-modal-content {
  background-color: $bg-header;
}

$barPadding: 0;
/*@if ($platform == 'darwin') {
  $barPadding: 20px;
}*/
.ivu-loading-bar {
  top: $barPadding;
  .ivu-loading-bar-inner {
    height: 3px !important;
  }
}

.ivu-menu {
  color: $menu-color;
  background: none !important;

  &:after {
    background: none !important;
  }

  .ivu-menu-item-group-title {
    font-size: 12px !important;
    height: 30px !important;
    line-height: 30px !important;
    padding-left: 24px !important;
  }

  .ivu-menu-item-active:not(.ivu-menu-submenu) {
    background-color: $menu-bg-selected !important;
  }
}

.ivu-card {
  background-color: transparent;
  &:hover {
    background-color: $bg-card-hover;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
  }
}

.ivu-spin-fix {
  background-color: $bg-spin;
}

.ivu-select-selection, .ivu-select-dropdown, .ivu-input {
  background-color: $bg-input;
  border-width: $input-border-width;
  color: $fontColor;
}

.ivu-btn-text:hover {
  background-color: rgba(255, 255, 255, .2);
}

.ivu-modal-content {
  user-select: text;
  .ivu-modal-confirm-head-title, .ivu-modal-header-inner {
    color: $fontColor;
  }
}